<launch>
  <!-- Load the URDF into the ROS parameter server -->
  <param name="robot_description" textfile="$(find quake_description)/urdf/quake_without_arm.urdf" />

  <!-- Run a node to publish the joint states -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Run a node to publish the robot state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quake_description)/launch/check_joint.rviz" required="true" />
</launch>
